body{
	background: @background;
	font: @fontSize/1 @ff; 
	color:@color;
	position: relative;
	z-index: 1;
}

button, .btn, .button{
	cursor: pointer;
}

.min-width{
	min-width: @width;
}

.section{
	position: relative;
	z-index: 2
}

.container{
	width: @width;
	margin: 0 auto;
	position: relative;
	z-index: 3;
}

input, textarea{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;   
}

.clearfix, .cf{
	clear: both;
	height: 0;
	font-size: 0;
	overflow: hidden;
}