/*	
	Sample : Less Scaffolding
	https://github.com/napalias/sample
	License: http://opensource.org/licenses/mit-license.php	
*/

@import "less/inc/prefixer"; 	//Generate prefix;
@import "less/inc/generate"; 	//Generate css style template

@import "less/settings";	//Define some variables

@import "less/inc/reset";		//HTML resets

@import "less/common";   	//Some common used HTML elements and class;

@import "less/layout";     //Include main layout








 
